.reveal pre code {
  font-size: 13px;
  line-height: 1.2;
}

.reveal pre {
  width: 90%;
  margin-left: 50px;
}

.reveal section img {
  border: 0;
  box-shadow: none;
}

.reveal table {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 25px;
}
