<div layout-fill layout="row" layout-align="center center">
  <div layout="row" layout-align="center center">

    <md-card>
      <md-card-title-group>
        <md-card-title>Puzzle to Solve
        </md-card-title>
        <!--<img md-card-sm-image *ngIf="thumbnail" [src]="thumbnail"/>-->

        <!--<md-card-subtitle *ngIf="subtitle">{{ subtitle | bcEllipsis:40 }}</md-card-subtitle>-->
      </md-card-title-group>
      <md-card-content>
        <div class="puzzle">
          <div class="row" *ngFor="let row of boardRows()">
            <div class="tile" *ngFor="let tile of row" (click)="tileClicked(tile.value)">
              {{tile.value}}
            </div>
          </div>
        </div>
      </md-card-content>
    </md-card>

    <md-card>
      <md-card-title-group>
        <!--<img md-card-sm-image *ngIf="thumbnail" [src]="thumbnail"/>-->
        <md-card-title>Settings
        </md-card-title>
        <!--<md-card-subtitle *ngIf="subtitle">{{ subtitle | bcEllipsis:40 }}</md-card-subtitle>-->
      </md-card-title-group>
      <md-card-content>
        <md-select  placeholder="Dimension" [(ngModel)]="newDimension" >
          <md-option *ngFor="let dimension of [3,4,5]" [value]="dimension">{{ dimension }}</md-option>
        </md-select>


      <md-select  placeholder="Degree of Randomization" [(ngModel)]="newRandDegree" >
          <md-option *ngFor="let rand of randDegrees" [value]="rand">{{ rand }}</md-option>
        </md-select>
      </md-card-content>
      <md-card-actions>
        <button md-raised-button (click)="initializeBoardAndGoal()">Randomize Puzzle</button>
      </md-card-actions>
    </md-card>
    <md-card>
      <md-card-title-group>
        <!--<img md-card-sm-image *ngIf="thumbnail" [src]="thumbnail"/>-->
        <md-card-title>Your Moves: {{ moves.length }}, Finished:
          <span ng-class="md-48">
            <md-icon  class="green" *ngIf=" finished()">done</md-icon>
            <md-icon  class="red" *ngIf="!finished()">clear</md-icon>
          </span>
        </md-card-title>
        <!--<md-card-subtitle *ngIf="subtitle">{{ subtitle | bcEllipsis:40 }}</md-card-subtitle>-->
      </md-card-title-group>
      <md-card-content>
        <p></p>
        <p>  </p>
      </md-card-content>
      <md-card-actions>
        <button md-raised-button (click)="runAlgorithm()">Find algorithmic solution</button>
        <button md-raised-button (click)="runStats()">Run stats</button>
      </md-card-actions>
    </md-card>





  </div>
</div>


<div class="algorithm">
  <div >
    <ng-container *ngFor="let closedState of getClosedStates(); let i = index">
      <!--<ng-container  >-->
      <!--<pre>{{ closedState | json }}</pre>-->
      <div *ngFor="let closedBoards of closedState">
        <md-toolbar color="primary">Step: {{ i }}</md-toolbar>

        <div layout="horizontal">

        <md-card   class="mini">
          <md-card-title-group>
            <md-card-title>Closed</md-card-title>
          </md-card-title-group>
          <md-card-content>
            <ng-container *ngFor="let closedBoard of closedBoards">
              <miniboard [board]="closedBoard"></miniboard>
            </ng-container>
          </md-card-content>
        </md-card>

        <md-card  class="mini">
          <md-card-title-group>
            <md-card-title>Fringe</md-card-title>
            <!--<md-card-title>F = g + h: {{ closedBoard.f }}</md-card-title>-->
          </md-card-title-group>
          <md-card-content>
            <ng-container *ngFor="let fringeBoard of getFringeStates(i)">
              <miniboard [board]="fringeBoard"></miniboard>
            </ng-container>
          </md-card-content>
        </md-card>

      </div>



      </div>

  <!--  </ng-container></div>
    <div class="results-side"><h2>Fringe:</h2>
      <ng-container *ngFor="let fringeState of getFringeStates()">
        <md-card  class="mini">
          <md-card-title-group>
          </md-card-title-group>
          <md-card-content>
            <div *ngFor="let closedBoards of fringeState" class="puzzle-mini">
              <ng-container *ngFor="let closedBoard of closedBoards">
                <miniboard [board]="closedBoard"></miniboard>
              </ng-container>
            </div>
          </md-card-content>
        </md-card>

      </ng-container>
    </div>
  </div> -->





  <!--<md-card class="result">-->
  <!--<md-card-content>-->
  <!--<h2 class="example-h2">Settings</h2>-->

  <!--<md-slider-->
  <!--class="example-margin"-->
  <!--[max]="10"-->
  <!--[min]="1"-->
  <!--[step]="1"-->
  <!--[thumb-label]="thumbLabel"-->
  <!--[tick-interval]="tickInterval"-->
  <!--[value]="3"-->
  <!--[vertical]="vertical">-->
  <!--</md-slider>-->
  <!--</md-card-content>-->
  <!--</md-card>-->
